.falling-cookie-block{
    animation: cookieFallAnim 10s ease;
    // position: absolute;
    animation-fill-mode: forwards;
    width: 5%;
    height: 5vh;
    z-index: 999;
    margin-top: -20%;
    position: absolute;
    img{
        width: 100%;
    }
}

@keyframes cookieFallAnim {
    from{
        margin-top: -20%;
    }
    to{
        margin-top: 100%;
    }
}